block variables
    - var title = 'Популярные личности в игровой индустрии'
    
    //-
        словарь для описания меню: элемент меню и название файла
    -
        var dictMenu = { 
            'Главная': 'index.html', 
            'Minecraft': "minecraft.html",  
            'Список игр': "list.html"
        }
    
    -
        var topics = [
          {
            'image': 'topic1.jpg',
            'title': 'Хидэо Кодзима',
            'text': 'Хидэо Кодзима — японский геймдизайнер, наиболее известен как создатель серии игр Metal Gear. Кодзима известен своеобразным авторским подходом к созданию игр; ещё до прихода в игровую индустрию он увлекался литературой и кинематографом и позже рассматривал разработку игр как новую возможность для художественного творчества. Кодзима на протяжении многих лет работал в компании Konami Digital Entertainment, в том числе как руководитель внутренней студии Kojima Productions, и некоторое время был вице-президентом Konami. После разрыва с Konami в 2015 году Кодзима воссоздал и возглавил Kojima Productions уже как независимую студию.',
          },
          {
            'image': 'topic2.jpg',
            'title': 'Маркус Перссон',
            'text': 'Ма́ркус Алексе́й Пе́рссон (также известен под псевдонимом Notch) — программист C++, Java и ActionScript. Является создателем популярной компьютерной игры Minecraft. Разрабатывал игру до версии 1.0.0, после чего дальнейшей разработкой игры занимается его компания Mojang AB, которую 15 сентября 2014 года он продал Microsoft и ушёл из неё.',
          }
        ]
    
    - 
        var articles = [
          {
            'image': '1.jpg',
            'title': 'Хидэо Кодзима',
            'text': 'Хидэо Кодзима — японский геймдизайнер, наиболее известен как создатель серии игр Metal Gear.',
          },
          {
            'image': '2.jpg',
            'title': 'Тодд Говард',
            'text': 'Тодд Эндрю Говард — американский геймдизайнер, известен по работе над сериями «The Elder Scrolls» и «Fallout».',
          },
          {
            'image': '3.jpg',
            'title': 'Джон Кармак',
            'text': 'Джон Кармак — американский разработчик игр, известен по созданию Doom и Quake.',
          },
          {
            'image': '4.jpg',
            'title': 'Гейб Ньюэлл',
            'text': 'Гейб Ньюэлл — основатель Valve, создатель Steam и Half-Life.',
          },
          {
            'image': '5.jpg',
            'title': 'Синдзи Миками',
            'text': 'Синдзи Миками — создатель Resident Evil и The Evil Within.',
          },
          {
            'image': '1.jpg',
            'title': 'Хидэо Кодзима',
            'text': 'Хидэо Кодзима — японский геймдизайнер, наиболее известен как создатель серии игр Metal Gear.',
          },
          {
            'image': '2.jpg',
            'title': 'Тодд Говард',
            'text': 'Тодд Эндрю Говард — американский геймдизайнер, известен по работе над сериями «The Elder Scrolls» и «Fallout».',
          },
          {
            'image': '3.jpg',
            'title': 'Джон Кармак',
            'text': 'Джон Кармак — американский разработчик игр, известен по созданию Doom и Quake.',
          },
          {
            'image': '4.jpg',
            'title': 'Гейб Ньюэлл',
            'text': 'Гейб Ньюэлл — основатель Valve, создатель Steam и Half-Life.',
          }
        ]
      
    -
        var minecraftImages = ['mine1.jpg','mine2.jpg','mine3.jpg']
     
    -
        var minecraftInfo = [
          'Minecraft — это приключенческая игра-песочница, у которой нет сюжета и ограничений в пространстве. Её пользователи создают объекты и даже целые миры из виртуальных 3D-блоков по принципу LEGO. В игре игроки исследуют процедурно сгенерированный трёхмерный мир с практически бесконечной местностью. Они могут находить и добывать сырьё, создавать инструменты и предметы, а также строить сооружения, земляные работы и машины. В зависимости от выбранного режима игры игроки могут сражаться с враждебными мобами, а также сотрудничать с другими игроками или соревноваться с ними в мультиплеере. По состоянию на 2024 год Minecraft — самая продаваемая видеоигра всех времён, с более чем 300 миллионами проданных копий и почти 170 миллионами активных игроков ежемесячно.',
          'Перед созданием Minecraft шведский программист Маркус Перссон четыре с половиной года работал в компании Midasplayer[англ.] (позднее King) и участвовал в разработке браузерных игр. В свободное время он изучал различные языки программирования, в том числе Java, и вместе со своим другом Рольфом Янссоном разрабатывал ролевую онлайн-игру Wurm Online. По своему замыслу она должна была стать похожей на будущий проект Перссона: ожидалось, что в фэнтезийном мире игры будет почти полная свобода действий без каких-либо конкретных целей или сюжета. Несмотря на то, что политика Midasplayer запрещала сотрудникам получать прибыль со своих проектов, Перссон не переставал работать над Wurm Online — эта игра была для него «творческим убежищем», где он мог пробовать свои идеи[u].',
          'Когда Перссон набрался знаний и освоил Java, он стал обучать новых сотрудников компаний. Якоб Порсер, один из таких новичков, сразу же поладил с Перссоном: оба программиста были страстно увлечены компьютерными играми и строили амбициозные планы[v].',
          'Со временем Перссон начал терять интерес к Wurm Online из-за творческих разногласий с Янссоном, а в 2009 году покинул Midasplayer: с ростом компании начальство стало строже относиться к его независимым проектам. После ухода Перссон сообщил Порсеру, что создаст новую игру и откроет с ним игровую студию, если она будет приносить хороший доход. На первое время Перссон устроился программистом в компанию jAlbum AB, занимавшуюся разработкой платформы для создания онлайн-фотоальбомов; при этом он договорился с руководством о том, что ему не будут запрещать делать свои игры и получать прибыль с них[w].'
        ]
    
    -
        var listInfo = {
          'header': ["Название игры", "Платформа", "Год выпуска", "Жанр", "Рейтинг", "Обновление", "Средняя продолжительность", "Кол-во игроков"],
          'rows': [
            ["The Legend of Zelda: Breath of the Wild", "Nintendo Switch", "2017", "Экшн-приключение", "10", "2023", "50", "10"],
            ["The Witcher 3: Wild Hunt", "PC, PS4, Xbox One", "2015", "РПГ", "9", "2022", "60", "20"],
            ["Red Dead Redemption 2", "PC, PS4, Xbox One", "2018", "Экшн", "10", "2022", "70", "15"],
            ["Cyberpunk 2077", "PC, PS4, Xbox One", "2020", "РПГ", "8", "2023", "40", "13"],
            ["God of War", "PS4", "2018", "Экшн", "10", "2022", "30", "20"],
            ["Hollow Knight", "PC, Nintendo Switch", "2017", "Метроидвания", "9", "2021", "40", "5"],
            ["Elden Ring", "PC, PS5, Xbox Series X", "2022", "РПГ", "10", "2023", "80", "18"],
            ["Stardew Valley", "PC, Nintendo Switch, PS4", "2016", "Симулятор", "9", "2023", "100", "20"],
            ["Minecraft", "PC, PS4, Xbox One, Switch", "2011", "Песочница", "10", "2023", "999", "200"],
            ["Sekiro: Shadows Die Twice", "PC, PS4, Xbox One", "2019", "Экшн", "10", "2022", "35", "1"],
            ["Dark Souls III", "PC, PS4, Xbox One", "2016", "РПГ", "9", "2022", "45", "4"],
            ["Fortnite", "PC, PS4, Xbox One, Switch", "2017", "Шутер", "8", "2023", "1000+", "100"],
            ["Among Us", "PC, Mobile, Switch", "2018", "Партийная игра", "8", "2023", "10", "10"],
            ["Apex Legends", "PC, PS4, Xbox One", "2019", "Шутер", "9", "2023", "100+", "60"],
            ["Valorant", "PC", "2020", "Шутер", "9", "2023", "100+", "10"],
            ["League of Legends", "PC", "2009", "MOBA", "10", "2023", "50+", "10"],
            ["Dota 2", "PC", "2013", "MOBA", "9", "2023", "50+", "10"],
            ["Genshin Impact", "PC, Mobile, PS4", "2020", "Экшн-рпг", "9", "2023", "80+", "4"],
            ["Terraria", "PC, PS4, Xbox One, Switch", "2011", "Песочница", "10", "2023", "80+", "8"],
            ["Subnautica", "PC, PS4, Xbox One", "2018", "Выживание", "9", "2022", "30+", "1"],
            ["Celeste", "PC, PS4, Xbox One, Switch", "2018", "Платформер", "10", "2021", "10", "1"],
            ["Hades", "PC, Switch, PS4", "2020", "Рогалик", "10", "2022", "20", "1"],
            ["Dead Cells", "PC, Switch, PS4", "2018", "Метроидвания", "9", "2023", "30", "1"],
            ["Ori and the Will of the Wisps", "PC, Xbox One", "2020", "Метроидвания", "10", "2021", "15", "1"],
            ["No Man's Sky", "PC, PS4, Xbox One", "2016", "Выживание", "8", "2023", "50+", "32"],
            ["Overwatch", "PC, PS4, Xbox One", "2016", "Шутер", "9", "2023", "100+", "12"],
            ["Diablo III", "PC, PS4, Xbox One", "2012", "РПГ", "8", "2022", "40", "4"],
            ["Baldur's Gate 3", "PC, PS5", "2023", "РПГ", "10", "2023", "100", "4"],
            ["Horizon Zero Dawn", "PC, PS4", "2017", "Экшн", "9", "2022", "40", "1"],
            ["Horizon Forbidden West", "PS5, PS4", "2022", "Экшн", "9", "2023", "50", "1"],
            ["Fallout 4", "PC, PS4, Xbox One", "2015", "РПГ", "9", "2022", "60+", "1"],
            ["Skyrim", "PC, PS4, Xbox One, Switch", "2011", "РПГ", "10", "2023", "100+", "1"],
            ["The Last of Us Part II", "PS4", "2020", "Экшн", "10", "2022", "25", "1"],
            ["The Last of Us Remastered", "PS4", "2014", "Экшн", "10", "2023", "20", "1"],
            ["Ghost of Tsushima", "PS4, PS5", "2020", "Экшн", "10", "2023", "40", "1"],
            ["Monster Hunter: World", "PC, PS4, Xbox One", "2018", "Экшн-рпг", "9", "2022", "50+", "4"],
            ["Starfield", "PC, Xbox Series X", "2023", "РПГ", "8", "2023", "80+", "1"],
            ["Mass Effect: Legendary Edition", "PC, PS4, Xbox One", "2021", "РПГ", "9", "2023", "100+", "1"],
            ["BioShock Infinite", "PC, PS4, Xbox One", "2013", "Шутер", "10", "2022", "15", "1"],
            ["Borderlands 3", "PC, PS4, Xbox One", "2019", "Шутер", "8", "2023", "30+", "4"],
            ["Assassin's Creed Odyssey", "PC, PS4, Xbox One", "2018", "Экшн", "9", "2022", "60", "1"],
            ["Assassin's Creed Valhalla", "PC, PS4, PS5, Xbox", "2020", "Экшн", "8", "2023", "100", "1"],
            ["Control", "PC, PS4, Xbox One", "2019", "Экшн", "9", "2023", "15", "1"],
            ["Outer Wilds", "PC, PS4, Xbox One", "2019", "Приключение", "10", "2023", "20", "1"],
            ["Death Stranding", "PC, PS4, PS5", "2019", "Экшн", "9", "2023", "50+", "1"],
            ["It Takes Two", "PC, PS4, Xbox One", "2021", "Кооператив", "10", "2023", "15", "2"],
            ["Uncharted 4: A Thief's End", "PS4", "2016", "Экшн", "10", "2023", "15", "1"]]

        }
        